/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-family: "Helvetica Neue", Helvetica, Sans-Serif;
	color: #232323;
	background-color: #fff;
}

header, footer, nav, section {
	display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend {
	font-size: 1.2em;
	font-weight: bold;
}

textarea {
	min-height: 75px;
}

.editor-label {
	margin: 1em 0 0 0;
}

.editor-field {
	margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
	color: #f00;
}

.field-validation-valid {
	display: none;
}

.input-validation-error {
	border: 1px solid #f00;
	background-color: #fee;
}

.validation-summary-errors {
	font-weight: bold;
	color: #f00;
}

.validation-summary-valid {
	display: none;
}

/* Custom styles */
body {
	background-color: #fffff5;
	line-height: 17px;
	color: #404040;
	padding: 0 20px;
}

b {
	font-weight: bold;
}

a {
	color: #007aff;
	color: rgba(0, 122, 255, 1);
	text-decoration: none;
}

a:hover {
	color: #8ec4ff;
	color: rgba(0, 122, 255, 0.35);
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

li {
	margin-bottom: 4px;
}

ul li ul {
    margin: 5px;
}

ul li ul li {
    list-style-type: circle;
    margin-left: 20px;
}

h1 {
	font-family: "HelveticaNeue-Bold";
	font-size: 26px;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 20px;
	line-height: 30px;
}

hr {
	margin-bottom: 15px;
	border: 0.65px solid #d2d2d2;
}

.support div {
	font-weight: normal;
    padding-bottom: 40px;
}

.support ul ul {
   list-style-type:circle;
   margin-left: 20px 
}

.support li {
    margin-top: 18px;
}

.support ul.tips li {
	margin-top: 5px;
}

.support a.issue {
    text-decoration: underline;
}

.support div.samples {
    text-align: center;
    margin: 10px 0 17px;
    padding: 0;
}

.support div.samples div {
    display: inline-block;
    margin: 0 3px 20px 0;
    padding: 0;
    text-align: center;
}

img {
	max-width: 90%;
	margin-bottom: 7px;
	border: 1px solid lightgray;
}



